<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e623c713-a9e8-4958-8006-fcd7ad9e0097/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/GeekShoppingIdentityServer20230815205008</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://geekshoppingidentityserver20230815205008.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>59f64765-2aff-49be-80e9-3dff41f85d22</ProjectGuid>
    <PublishUrl>https://geekshoppingidentityserver20230815205008.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GeekShoppingIdentityServer20230815205008</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>