<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e623c713-a9e8-4958-8006-fcd7ad9e0097/resourceGroups/GeekShoppingTccPucWindows/providers/Microsoft.ApiManagement/service/GeekShoppingProductAPIWindows/apis/GeekShoppingProductAPIpuc</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/e623c713-a9e8-4958-8006-fcd7ad9e0097/resourceGroups/GeekShoppingTccPucWindows/providers/Microsoft.Web/sites/Geekshoppingpucminasproductapi2023</ResourceId>
    <ResourceGroup>GeekShoppingTccPucWindows</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://geekshoppingpucminasproductapi2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>85d4039e-9a6d-4472-91fd-60e05eee3587</ProjectGuid>
    <PublishUrl>https://geekshoppingpucminasproductapi2023.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Geekshoppingpucminasproductapi2023</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>